html
  head
    style
    script window.onload=function (){
      var oBtn=document.getElementById('div1');
      };
  body
    a(href="http://www.windline.info/") 官网
    a(href="http://www.baidu.com/") 百度
